footer {
    padding-top: 20px; padding-bottom: 20px;
    background-color: rgb(26, 26, 26);
    color: rgb(101, 116, 111);
    text-align: center;
    bottom: 0px;
}

td {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

thead {
	text-align: center;
	font-weight:bold;
	background-color: rgb( 86, 86, 86);
	color: rgb(204, 204, 204);
}



.container-fluid {
    text-align: center;
    padding-top: 20px; padding-bottom: 20px;
}

.tabcenter {
    margin-left: auto;
    margin-right: auto;
}