.tabcenter {
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    text-align: center;
    padding-top: 20px; padding-bottom: 20px;
}

td {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

thead {
	text-align: center;
	font-weight:bold;
	background-color: rgb( 86, 86, 86);
	color: rgb(204, 204, 204);
}

.btn {
    text-align:center;
}